<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="../css/app.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
            integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
        }
    </style>
    <body>
        <div class="container-xl">
            <!-- Phần header -->
            <header>
                <!-- Nav top -->
                <div class="border-b-[1px]">
                    <div class="flex mx-[10%] justify-between items-center">
                        <!-- ul left -->
                        <ul class="flex py-[16px]">
                            <li>
                                <a href="">
                                    <img
                                        src="https://s1.vnecdn.net/vnexpress/restruct/i/v928/v2_2019/pc/graphics/logo.svg"
                                        alt=""
                                    />
                                </a>
                            </li>
                            <li
                                class="ml-[10px] border-l-[2px] border-[#E5E5E5] pl-[10px]"
                            >
                                <p class="text-[#757575]">Thứ hai, 26/8/2024</p>
                            </li>
                        </ul>

                        <!-- ul right-->
                        <ul class="flex py-[16px] items-center justify-between">
                            <li class="mx-[10px]">
                                <a class="text-[#757575] py-[10px]" href="#"
                                    >Mới nhất</a
                                >
                            </li>
                            <li class="mx-[10px] relative group">
                                <a class="text-[#757575] py-[10px]" href="#"
                                    >Tin tức theo khu vực</a
                                >
                                <!-- sub menu -->
                                <ul
                                    class="absolute z-50 left-0 bg-white shadow-2xl mt-2 p-4 w-[250px] transition-transform transform translate-y-4 opacity-0 pointer-events-none group-hover:translate-y-0 group-hover:opacity-100 group-hover:pointer-events-auto"
                                >
                                    <li>
                                        <a
                                            href="#"
                                            class="block px-4 py-2 w-[250px] font-bold text-[14px] text-[#757575] hover:text-[#b42652]"
                                            >Hà nội</a
                                        >
                                    </li>
                                    <li>
                                        <a
                                            href="#"
                                            class="block px-4 py-2 w-[250px] font-bold text-[14px] text-[#757575] hover:text-[#b42652]"
                                            >TP Hồ Chí Minh</a
                                        >
                                    </li>
                                </ul>
                            </li>
                            <li class="mx-[10px]">
                                <div
                                    class="rounded-full border-[1px] border-soild border-[#E5E5E5] px-[10px] py-[2px]"
                                >
                                    <i
                                        class="fa-solid fa-magnifying-glass text-[#bdbdbd]"
                                    ></i>
                                    <input
                                        type="text"
                                        class="focus:outline-none placeholder-[#828282]"
                                        placeholder="Tìm kiếm"
                                    />
                                </div>
                            </li>
                            <li class="mx-[10px]">
                                <a class="text-[#757575] py-[10px]" href="#"
                                    ><i class="fa-regular fa-user mr-[6px]"></i
                                    >Đăng nhập</a
                                >
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Nav bottom bị lòi ra ngoài-->
                <div class="py-[16px] border-b-[1px]">
                    <ul class="mx-[14px] flex justify-between">
                        <li class="ml-[10px] mr-[4px]">
                            <a href="#"
                                ><i
                                    class="fa-solid fa-house bg-[#adadad] hover:bg-[#828282] hover:text-white p-[4px] rounded-full"
                                ></i
                            ></a>
                        </li>
                        <li class=" relative group">
                            <a class="text-[14px]" href="#">Thời sự</a>
                            <ul class="absolute bg-white shadow-xl p-4 min-w-[160px] border-t-[1px] border-[#9f224e] transition-transform transform translate-y-9 opacity-0 group-hover:opacity-100 group-hover:translate-y-5">
                                <li class="py-[6px]"><a class="block w-full hover:underline text-[14px]" href="">Chính trị</a></li>
                                <li class="py-[6px]"><a class="block w-full hover:underline text-[14px]" href="">Dân sinh</a></li>
                                <li class="py-[6px]"><a class="block w-full hover:underline text-[14px]" href="">Lao động - Việc làm</a></li>
                                <li class="py-[6px]"><a class="block w-full hover:underline text-[14px]" href="">Mekong</a></li>
                                <li class="py-[6px]"><a class="block w-full hover:underline text-[14px]" href="">Quỹ hy vọng</a></li>
                            </ul>
                        </li>
                        <li class=" relative group">
                            <a class="text-[14px]" href="#">Góc nhìn</a>
                            <ul class="absolute bg-white shadow-xl p-4 min-w-[160px] border-t-[1px] border-[#9f224e] transition-transform transform translate-y-9 opacity-0 group-hover:opacity-100 group-hover:translate-y-5">
                                <li class="py-[6px]"><a class="block w-full hover:underline text-[14px]" href="">Chính trị</a></li>
                                <li class="py-[6px]"><a class="block w-full hover:underline text-[14px]" href="">Dân sinh</a></li>
                                <li class="py-[6px]"><a class="block w-full hover:underline text-[14px]" href="">Lao động - Việc làm</a></li>
                                <li class="py-[6px]"><a class="block w-full hover:underline text-[14px]" href="">Mekong</a></li>
                                <li class="py-[6px]"><a class="block w-full hover:underline text-[14px]" href="">Quỹ hy vọng</a></li>
                            </ul>
                        </li>
                        <li class=" relative group">
                            <a class="text-[14px]" href="#">Thế giới</a>
                            <ul class="absolute bg-white shadow-xl p-4 min-w-[160px] border-t-[1px] border-[#9f224e] transition-transform transform translate-y-9 opacity-0 group-hover:opacity-100 group-hover:translate-y-5">
                                <li class="py-[6px]"><a class="block w-full hover:underline text-[14px]" href="">Chính trị</a></li>
                                <li class="py-[6px]"><a class="block w-full hover:underline text-[14px]" href="">Dân sinh</a></li>
                                <li class="py-[6px]"><a class="block w-full hover:underline text-[14px]" href="">Lao động - Việc làm</a></li>
                                <li class="py-[6px]"><a class="block w-full hover:underline text-[14px]" href="">Mekong</a></li>
                                <li class="py-[6px]"><a class="block w-full hover:underline text-[14px]" href="">Quỹ hy vọng</a></li>
                            </ul>
                        </li>
                        <li class=" relative group">
                            <a class="text-[14px]" href="#">Video</a>
                            <ul class="absolute bg-white shadow-xl p-4 min-w-[160px] border-t-[1px] border-[#9f224e] transition-transform transform translate-y-9 opacity-0 group-hover:opacity-100 group-hover:translate-y-5">
                                <li class="py-[6px]"><a class="block w-full hover:underline text-[14px]" href="">Chính trị</a></li>
                                <li class="py-[6px]"><a class="block w-full hover:underline text-[14px]" href="">Dân sinh</a></li>
                                <li class="py-[6px]"><a class="block w-full hover:underline text-[14px]" href="">Lao động - Việc làm</a></li>
                                <li class="py-[6px]"><a class="block w-full hover:underline text-[14px]" href="">Mekong</a></li>
                                <li class="py-[6px]"><a class="block w-full hover:underline text-[14px]" href="">Quỹ hy vọng</a></li>
                            </ul>
                        </li>
                        <li class=" relative group">
                            <a class="text-[14px]" href="#">Podcasts</a>
                            <ul class="absolute bg-white shadow-xl p-4 min-w-[160px] border-t-[1px] border-[#9f224e] transition-transform transform translate-y-9 opacity-0 group-hover:opacity-100 group-hover:translate-y-5">
                                <li class="py-[6px]"><a class="block w-full hover:underline text-[14px]" href="">Chính trị</a></li>
                                <li class="py-[6px]"><a class="block w-full hover:underline text-[14px]" href="">Dân sinh</a></li>
                                <li class="py-[6px]"><a class="block w-full hover:underline text-[14px]" href="">Lao động - Việc làm</a></li>
                                <li class="py-[6px]"><a class="block w-full hover:underline text-[14px]" href="">Mekong</a></li>
                                <li class="py-[6px]"><a class="block w-full hover:underline text-[14px]" href="">Quỹ hy vọng</a></li>
                            </ul>
                        </li>
                        <li class=" relative group">
                            <a class="text-[14px]" href="#">Kinh doanh</a>
                            <ul class="absolute bg-white shadow-xl p-4 min-w-[160px] border-t-[1px] border-[#9f224e] transition-transform transform translate-y-9 opacity-0 group-hover:opacity-100 group-hover:translate-y-5">
                                <li class="py-[6px]"><a class="block w-full hover:underline text-[14px]" href="">Chính trị</a></li>
                                <li class="py-[6px]"><a class="block w-full hover:underline text-[14px]" href="">Dân sinh</a></li>
                                <li class="py-[6px]"><a class="block w-full hover:underline text-[14px]" href="">Lao động - Việc làm</a></li>
                                <li class="py-[6px]"><a class="block w-full hover:underline text-[14px]" href="">Mekong</a></li>
                                <li class="py-[6px]"><a class="block w-full hover:underline text-[14px]" href="">Quỹ hy vọng</a></li>
                            </ul>
                        </li>
                        <li class=" relative group">
                            <a class="text-[14px]" href="#">Bất động sản</a>
                            <ul class="absolute bg-white shadow-xl p-4 min-w-[160px] border-t-[1px] border-[#9f224e] transition-transform transform translate-y-9 opacity-0 group-hover:opacity-100 group-hover:translate-y-5">
                                <li class="py-[6px]"><a class="block w-full hover:underline text-[14px]" href="">Chính trị</a></li>
                                <li class="py-[6px]"><a class="block w-full hover:underline text-[14px]" href="">Dân sinh</a></li>
                                <li class="py-[6px]"><a class="block w-full hover:underline text-[14px]" href="">Lao động - Việc làm</a></li>
                                <li class="py-[6px]"><a class="block w-full hover:underline text-[14px]" href="">Mekong</a></li>
                                <li class="py-[6px]"><a class="block w-full hover:underline text-[14px]" href="">Quỹ hy vọng</a></li>
                            </ul>
                        </li>
                        <li class=" relative group">
                            <a class="text-[14px]" href="#">Khoa học</a>
                            <ul class="absolute bg-white shadow-xl p-4 min-w-[160px] border-t-[1px] border-[#9f224e] transition-transform transform translate-y-9 opacity-0 group-hover:opacity-100 group-hover:translate-y-5">
                                <li class="py-[6px]"><a class="block w-full hover:underline text-[14px]" href="">Chính trị</a></li>
                                <li class="py-[6px]"><a class="block w-full hover:underline text-[14px]" href="">Dân sinh</a></li>
                                <li class="py-[6px]"><a class="block w-full hover:underline text-[14px]" href="">Lao động - Việc làm</a></li>
                                <li class="py-[6px]"><a class="block w-full hover:underline text-[14px]" href="">Mekong</a></li>
                                <li class="py-[6px]"><a class="block w-full hover:underline text-[14px]" href="">Quỹ hy vọng</a></li>
                            </ul>
                        </li>
                        <li class=" relative group">
                            <a class="text-[14px]" href="#">Giải trí</a>
                            <ul class="absolute bg-white shadow-xl p-4 min-w-[160px] border-t-[1px] border-[#9f224e] transition-transform transform translate-y-9 opacity-0 group-hover:opacity-100 group-hover:translate-y-5">
                                <li class="py-[6px]"><a class="block w-full hover:underline text-[14px]" href="">Chính trị</a></li>
                                <li class="py-[6px]"><a class="block w-full hover:underline text-[14px]" href="">Dân sinh</a></li>
                                <li class="py-[6px]"><a class="block w-full hover:underline text-[14px]" href="">Lao động - Việc làm</a></li>
                                <li class="py-[6px]"><a class="block w-full hover:underline text-[14px]" href="">Mekong</a></li>
                                <li class="py-[6px]"><a class="block w-full hover:underline text-[14px]" href="">Quỹ hy vọng</a></li>
                            </ul>
                        </li>
                        <li class=" relative group">
                            <a class="text-[14px]" href="#">Thể thao</a>
                            <ul class="absolute bg-white shadow-xl p-4 min-w-[160px] border-t-[1px] border-[#9f224e] transition-transform transform translate-y-9 opacity-0 group-hover:opacity-100 group-hover:translate-y-5">
                                <li class="py-[6px]"><a class="block w-full hover:underline text-[14px]" href="">Chính trị</a></li>
                                <li class="py-[6px]"><a class="block w-full hover:underline text-[14px]" href="">Dân sinh</a></li>
                                <li class="py-[6px]"><a class="block w-full hover:underline text-[14px]" href="">Lao động - Việc làm</a></li>
                                <li class="py-[6px]"><a class="block w-full hover:underline text-[14px]" href="">Mekong</a></li>
                                <li class="py-[6px]"><a class="block w-full hover:underline text-[14px]" href="">Quỹ hy vọng</a></li>
                            </ul>
                        </li>
                        <li class=" relative group">
                            <a class="text-[14px]" href="#">Pháp luật</a>
                            <ul class="absolute bg-white shadow-xl p-4 min-w-[160px] border-t-[1px] border-[#9f224e] transition-transform transform translate-y-9 opacity-0 group-hover:opacity-100 group-hover:translate-y-5">
                                <li class="py-[6px]"><a class="block w-full hover:underline text-[14px]" href="">Chính trị</a></li>
                                <li class="py-[6px]"><a class="block w-full hover:underline text-[14px]" href="">Dân sinh</a></li>
                                <li class="py-[6px]"><a class="block w-full hover:underline text-[14px]" href="">Lao động - Việc làm</a></li>
                                <li class="py-[6px]"><a class="block w-full hover:underline text-[14px]" href="">Mekong</a></li>
                                <li class="py-[6px]"><a class="block w-full hover:underline text-[14px]" href="">Quỹ hy vọng</a></li>
                            </ul>
                        </li>
                        <li class=" relative group">
                            <a class="text-[14px]" href="#">Giáo dục</a>
                            <ul class="absolute bg-white shadow-xl p-4 min-w-[160px] border-t-[1px] border-[#9f224e] transition-transform transform translate-y-9 opacity-0 group-hover:opacity-100 group-hover:translate-y-5">
                                <li class="py-[6px]"><a class="block w-full hover:underline text-[14px]" href="">Chính trị</a></li>
                                <li class="py-[6px]"><a class="block w-full hover:underline text-[14px]" href="">Dân sinh</a></li>
                                <li class="py-[6px]"><a class="block w-full hover:underline text-[14px]" href="">Lao động - Việc làm</a></li>
                                <li class="py-[6px]"><a class="block w-full hover:underline text-[14px]" href="">Mekong</a></li>
                                <li class="py-[6px]"><a class="block w-full hover:underline text-[14px]" href="">Quỹ hy vọng</a></li>
                            </ul>
                        </li>
                        <li class=" relative group">
                            <a class="text-[14px]" href="#">Sức khỏe</a>
                            <ul class="absolute bg-white shadow-xl p-4 min-w-[160px] border-t-[1px] border-[#9f224e] transition-transform transform translate-y-9 opacity-0 group-hover:opacity-100 group-hover:translate-y-5">
                                <li class="py-[6px]"><a class="block w-full hover:underline text-[14px]" href="">Chính trị</a></li>
                                <li class="py-[6px]"><a class="block w-full hover:underline text-[14px]" href="">Dân sinh</a></li>
                                <li class="py-[6px]"><a class="block w-full hover:underline text-[14px]" href="">Lao động - Việc làm</a></li>
                                <li class="py-[6px]"><a class="block w-full hover:underline text-[14px]" href="">Mekong</a></li>
                                <li class="py-[6px]"><a class="block w-full hover:underline text-[14px]" href="">Quỹ hy vọng</a></li>
                            </ul>
                        </li>
                        <li class=" relative group">
                            <a class="text-[14px]" href="#">Đời sống</a>
                            <ul class="absolute bg-white shadow-xl p-4 min-w-[160px] border-t-[1px] border-[#9f224e] transition-transform transform translate-y-9 opacity-0 group-hover:opacity-100 group-hover:translate-y-5">
                                <li class="py-[6px]"><a class="block w-full hover:underline text-[14px]" href="">Chính trị</a></li>
                                <li class="py-[6px]"><a class="block w-full hover:underline text-[14px]" href="">Dân sinh</a></li>
                                <li class="py-[6px]"><a class="block w-full hover:underline text-[14px]" href="">Lao động - Việc làm</a></li>
                                <li class="py-[6px]"><a class="block w-full hover:underline text-[14px]" href="">Mekong</a></li>
                                <li class="py-[6px]"><a class="block w-full hover:underline text-[14px]" href="">Quỹ hy vọng</a></li>
                            </ul>
                        </li>
                        <li class=" relative group">
                            <a class="text-[14px]" href="#">Du lịch</a>
                            <ul class="absolute bg-white shadow-xl p-4 min-w-[160px] border-t-[1px] border-[#9f224e] transition-transform transform translate-y-9 opacity-0 group-hover:opacity-100 group-hover:translate-y-5">
                                <li class="py-[6px]"><a class="block w-full hover:underline text-[14px]" href="">Chính trị</a></li>
                                <li class="py-[6px]"><a class="block w-full hover:underline text-[14px]" href="">Dân sinh</a></li>
                                <li class="py-[6px]"><a class="block w-full hover:underline text-[14px]" href="">Lao động - Việc làm</a></li>
                                <li class="py-[6px]"><a class="block w-full hover:underline text-[14px]" href="">Mekong</a></li>
                                <li class="py-[6px]"><a class="block w-full hover:underline text-[14px]" href="">Quỹ hy vọng</a></li>
                            </ul>
                        </li>
                        <li class=" relative group">
                            <a class="text-[14px]" href="#">Xe</a>
                            <ul class="absolute bg-white shadow-xl p-4 min-w-[160px] border-t-[1px] border-[#9f224e] transition-transform transform translate-y-9 opacity-0 group-hover:opacity-100 group-hover:translate-y-5">
                                <li class="py-[6px]"><a class="block w-full hover:underline text-[14px]" href="">Chính trị</a></li>
                                <li class="py-[6px]"><a class="block w-full hover:underline text-[14px]" href="">Dân sinh</a></li>
                                <li class="py-[6px]"><a class="block w-full hover:underline text-[14px]" href="">Lao động - Việc làm</a></li>
                                <li class="py-[6px]"><a class="block w-full hover:underline text-[14px]" href="">Mekong</a></li>
                                <li class="py-[6px]"><a class="block w-full hover:underline text-[14px]" href="">Quỹ hy vọng</a></li>
                            </ul>
                        </li>
                        <li class=" relative group">
                            <a class="text-[14px]" href="#">Ý kiến</a>
                            <ul class="absolute right-0 bg-white shadow-xl p-4 min-w-[160px] border-t-[1px] border-[#9f224e] transition-transform transform translate-y-9 opacity-0 group-hover:opacity-100 group-hover:translate-y-5">
                                <li class="py-[6px]"><a class="block w-full hover:underline text-[14px]" href="">Chính trị</a></li>
                                <li class="py-[6px]"><a class="block w-full hover:underline text-[14px]" href="">Dân sinh</a></li>
                                <li class="py-[6px]"><a class="block w-full hover:underline text-[14px]" href="">Lao động - Việc làm</a></li>
                                <li class="py-[6px]"><a class="block w-full hover:underline text-[14px]" href="">Mekong</a></li>
                                <li class="py-[6px]"><a class="block w-full hover:underline text-[14px]" href="">Quỹ hy vọng</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </header>
            <!-- Kết thúc header -->

            <!-- Phần banner -->
            <div class="banner">
                <img class="w-full h-[400px] object-fill" src="https://kingzoneland.com/Uploads/3/files/vinhomes-ocean-park-background.jpg" alt="">
            </div>
            <!-- Kết thúc banner -->

            <!-- Main home -->
                <div class="mt-[28px] mx-auto w-[1100px]">
                    <!-- Nav category -->
                    <div class="flex items-baseline">
                        <h2 class="py-4 mr-3"><a class="w-full h-full text-[#4f4f4f] hover:text-[#087cce] font-bold text-[28px]" href="">Kinh doanh</a></h2>
                        <ul class="flex text-[#626262]">
                            <li class="py-4 mx-3"><a class="w-full h-full hover:text-[#087cce] font-bold" href="">Quốc tế</a></li>
                            <li class="py-4 mx-3"><a class="w-full h-full hover:text-[#087cce] font-bold" href="">Danh nghiệp</a></li>
                            <li class="py-4 mx-3"><a class="w-full h-full hover:text-[#087cce] font-bold" href="">Chứng khoán</a></li>
                            <li class="py-4 mx-3"><a class="w-full h-full hover:text-[#087cce] font-bold" href="">Ebank</a></li>
                            <li class="py-4 mx-3"><a class="w-full h-full hover:text-[#087cce] font-bold" href="">Vĩ mô</a></li>
                            <li class="py-4 mx-3"><a class="w-full h-full hover:text-[#087cce] font-bold" href="">Tiền của tôi</a></li>
                            <li class="py-4 ml-3"><a class="w-full h-full hover:text-[#087cce] font-bold" href="">Hàng hóa</a></li>
                        </ul>
                    </div>
                    <!-- Phần content top -->
                    <div class="grid grid-cols-[3fr_1fr] ">
                        <div class="pr-[20px]">
                            <div class="flex ">
                                <img class="max-w-[520px] h-[312px] object-cover" src="https://i1-vnexpress.vnecdn.net/2024/09/27/Netanyahu-1727404877-9374-1727405229.png?w=680&h=408&q=100&dpr=1&fit=crop&s=54Ldt1Kw8N9O4GeqJPcPVg" alt="">
                                <div class="ml-[16px] max-w-[220px]">
                                    <h2 class="text-[20px] font-bold  mb-[12px]">Israel bác đề xuất ngừng bắn với Hezbollah của Mỹ - Pháp</h2>
                                    <span class="mb-[12px] block">Văn phòng Thủ tướng Israel bác tin ông Netanyahu chấp thuận đề xuất ngừng bắn của Mỹ - Pháp, khẳng định sẽ tiếp tục "tấn công toàn lực" Hezbollah.</span>
                                    <a href="#" class="block ml-[20px] hover:text-[#087cce]">Thế giới</a>
                                </div>
                            </div>
                            <div class="pt-[20px] mb-[20px] border-b-[1.5px]"></div>
                            <div class="grid grid-cols-3 gap-[24px]">
                                <div class="">
                                    <h4 class="hover:text-[#087cce] font-bold text-[15px] mb-[6px]">Người mua nhà ngại xuống tiền vì giá quá cao</h4>
                                    <img class="object-cover" src="https://i1-vnexpress.vnecdn.net/2024/09/25/dji-20240828131502-0006-d-1727-2640-4438-1727238958.jpg?w=300&h=180&q=100&dpr=1&fit=crop&s=I19v9ARo2gP1rqEMRbS8aQ" alt="">
                                </div>
                                <div class="">
                                    <h4 class="hover:text-[#087cce] font-bold text-[15px] mb-[6px]">Người mua nhà ngại xuống tiền vì giá quá cao</h4>
                                    <img class="object-cover" src="https://i1-vnexpress.vnecdn.net/2024/09/25/dji-20240828131502-0006-d-1727-2640-4438-1727238958.jpg?w=300&h=180&q=100&dpr=1&fit=crop&s=I19v9ARo2gP1rqEMRbS8aQ" alt="">
                                </div>
                                <div class="">
                                    <h4 class="hover:text-[#087cce] font-bold text-[15px] mb-[6px]">Người mua nhà ngại xuống tiền vì giá quá cao</h4>
                                    <img class="object-cover" src="https://i1-vnexpress.vnecdn.net/2024/09/27/Netanyahu-1727404877-9374-1727405229.png?w=680&h=408&q=100&dpr=1&fit=crop&s=54Ldt1Kw8N9O4GeqJPcPVg" alt="">
                                </div>
                            </div>
                            <div class="pt-[40px] mb-[20px] border-b-[1.5px]"></div>

                            <!-- tin bên trái -->
                             <div class="">
                                <div class="">
                                    <div class="mb-4 border-b-[1px] pb-6">
                                        <a href="" class="">
                                            <h4 class="text-[20px] font-bold mb-2 hover:text-[#087cce]">Giá nhẫn trơn vượt vàng miếng</h4>
                                            <div class="grid grid-cols-[1fr_2fr]">
                                                <img class="w-full" src="https://i1-kinhdoanh.vnecdn.net/2024/09/27/z540139436250638beba643f13f064-6556-9188-1727409476.jpg?w=220&h=132&q=100&dpr=1&fit=crop&s=NXywERJJna6C5gxchQ90Xg" alt="">
                                                <span class="ml-[16px] text-[14px] block max-h-[192px]">Bí thư Thứ nhất, Chủ tịch nước Cuba Miguel Diaz-Canel Bermudez trao Huân chương Jose Marti cho Tổng Bí thư, Chủ tịch nước Tô Lâm, ghi nhận những đóng góp của ông đối với quan hệ hai nước.
                                                    Trong lễ trao huân chương tại Cung Cách mạng Cuba ở thủ đô Havana tối 26/9 (sáng 27/9 giờ Hà Nội), lãnh đạo Cuba nêu bật những đóng góp của Tổng Bí thư, Chủ tịch nước Tô Lâm đối với sự nghiệp xây dựng và bảo vệ đất nước Việt Nam, cũng như những nỗ lực nhằm củng cố mối quan hệ song phương.</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="">
                                    <div class="mb-4 border-b-[1px] pb-6">
                                        <a href="" class="">
                                            <h4 class="text-[20px] font-bold mb-2 hover:text-[#087cce]">Giá nhẫn trơn vượt vàng miếng</h4>
                                            <div class="grid grid-cols-[1fr_2fr]">
                                                <img class="w-full" src="https://i1-kinhdoanh.vnecdn.net/2024/09/27/z540139436250638beba643f13f064-6556-9188-1727409476.jpg?w=220&h=132&q=100&dpr=1&fit=crop&s=NXywERJJna6C5gxchQ90Xg" alt="">
                                                <span class="ml-[16px] text-[14px] block max-h-[192px]">Bí thư Thứ nhất, Chủ tịch nước Cuba Miguel Diaz-Canel Bermudez trao Huân chương Jose Marti cho Tổng Bí thư, Chủ tịch nước Tô Lâm, ghi nhận những đóng góp của ông đối với quan hệ hai nước.
                                                    Trong lễ trao huân chương tại Cung Cách mạng Cuba ở thủ đô Havana tối 26/9 (sáng 27/9 giờ Hà Nội), lãnh đạo Cuba nêu bật những đóng góp của Tổng Bí thư, Chủ tịch nước Tô Lâm đối với sự nghiệp xây dựng và bảo vệ đất nước Việt Nam, cũng như những nỗ lực nhằm củng cố mối quan hệ song phương.</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="">
                                    <div class="mb-4 pb-6">
                                        <a href="" class="">
                                            <h4 class="text-[20px] font-bold mb-2 hover:text-[#087cce]">Giá nhẫn trơn vượt vàng miếng</h4>
                                            <div class="grid grid-cols-[1fr_2fr]">
                                                <img class="w-full" src="https://i1-kinhdoanh.vnecdn.net/2024/09/27/z540139436250638beba643f13f064-6556-9188-1727409476.jpg?w=220&h=132&q=100&dpr=1&fit=crop&s=NXywERJJna6C5gxchQ90Xg" alt="">
                                                <span class="ml-[16px] text-[14px] block max-h-[192px]">Bí thư Thứ nhất, Chủ tịch nước Cuba Miguel Diaz-Canel Bermudez trao Huân chương Jose Marti cho Tổng Bí thư, Chủ tịch nước Tô Lâm, ghi nhận những đóng góp của ông đối với quan hệ hai nước.
                                                    Trong lễ trao huân chương tại Cung Cách mạng Cuba ở thủ đô Havana tối 26/9 (sáng 27/9 giờ Hà Nội), lãnh đạo Cuba nêu bật những đóng góp của Tổng Bí thư, Chủ tịch nước Tô Lâm đối với sự nghiệp xây dựng và bảo vệ đất nước Việt Nam, cũng như những nỗ lực nhằm củng cố mối quan hệ song phương.</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                             </div>
                        </div>
                        <!-- Tin bên phải -->
                        <div class="pl-[20px] border-l-[1px]">
                            <h2 class="text-[18px] font-bold">Top 3 xem nhiều nhất trong ngày</h2>
                            <ul class="mt-2">
                                <li class="border-b-[1px] pb-2 pt-4"><a class="block w-full h-full" href=""></a>
                                    <h4 class="font-medium pb-2 hover:text-[#087cce]">Tra cứu điểm thi vào lớp</h4>
                                </a></li>
                                <li class="border-b-[1px] pb-2 pt-4"><a class="block w-full h-full" href=""></a>
                                    <h4 class="font-medium pb-2 hover:text-[#087cce]">Tra cứu điểm thi vào lớp</h4>
                                </a></li>
                                <li class="border-b-[1px] pb-2 pt-4"><a class="block w-full h-full" href=""></a>
                                    <h4 class="font-medium pb-2 hover:text-[#087cce]">Tra cứu điểm thi vào lớp</h4>
                                </a></li>
                                <li class="border-b-[1px] pb-4 pt-4"><a class="block w-full h-full" href="">
                                    <h4 class="font-medium pb-2 hover:text-[#087cce]">Tra cứu điểm thi vào lớp</h4>
                                    <img class="h-[135px] w-full object-cover" src="https://i1-vnexpress.vnecdn.net/2024/09/27/456845264-934396598729978-4885-5571-1433-1727400783.jpg?w=380&h=228&q=100&dpr=1&fit=crop&s=9OE8Wu3aDSAK6Ikcu0F-uQ" alt="">
                                </a></li>
                                <li class="border-b-[1px] pb-4 pt-4"><a class="block w-full h-full" href="">
                                    <h4 class="font-medium pb-2 hover:text-[#087cce]">Tra cứu điểm thi vào lớp</h4>
                                    <img class="h-[135px] w-full object-cover" src="https://i1-vnexpress.vnecdn.net/2024/09/27/456845264-934396598729978-4885-5571-1433-1727400783.jpg?w=380&h=228&q=100&dpr=1&fit=crop&s=9OE8Wu3aDSAK6Ikcu0F-uQ" alt="">
                                </a></li>
                                <li class="pb-4 pt-4"><a class="block w-full h-full" href="">
                                    <h4 class="font-medium pb-2 hover:text-[#087cce]">Tra cứu điểm thi vào lớp</h4>
                                    <img class="h-[135px] w-full object-cover" src="https://i1-vnexpress.vnecdn.net/2024/09/27/456845264-934396598729978-4885-5571-1433-1727400783.jpg?w=380&h=228&q=100&dpr=1&fit=crop&s=9OE8Wu3aDSAK6Ikcu0F-uQ" alt="">
                                </a></li>
                                <li class="pb-4 pt-4"><a class="block w-full h-full" href="">
                                    <h4 class="font-medium pb-2 hover:text-[#087cce]">Tra cứu điểm thi vào lớp</h4>
                                    <img class="h-[135px] w-full object-cover" src="https://i1-vnexpress.vnecdn.net/2024/09/27/456845264-934396598729978-4885-5571-1433-1727400783.jpg?w=380&h=228&q=100&dpr=1&fit=crop&s=9OE8Wu3aDSAK6Ikcu0F-uQ" alt="">
                                </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <footer class="mx-auto w-[1100px] text-[14px] mt-8">

                    <div class="grid grid-cols-5 pb-10 border-b-[1px] border-[#bdbdbd] pt-6 border-t-[3px]">
                        <ul>
                            <li class="mb-2"><a class="font-bold hover:underline" href="">Trang chủ</a></li>
                            <li class="mb-2"><a class="font-bold hover:underline" href="">Video</a></li>
                            <li class="mb-2"><a class="font-bold hover:underline" href="">Podcasts</a></li>
                            <li class="mb-2"><a class="font-bold hover:underline" href="">Ảnh</a></li>
                            <li class="mb-2"><a class="font-bold hover:underline" href="">Infographics</a></li>
                            <li class="mb-2 border-b-[1px] max-w-[100px]"></li>
                            <li class="mb-2"><a class="font-bold hover:underline" href="">Mới nhất</a></li>
                            <li class="mb-2"><a class="font-bold hover:underline" href="">Xem nhiều</a></li>
                            <li class="mb-2"><a class="font-bold hover:underline" href="">Tin nóng</a></li>
                        </ul>
                        <ul>
                            <li class="mb-2"><a class="hover:underline" href="">Thời sự</a></li>
                            <li class="mb-2"><a class="hover:underline" href="">Góc nhìn</a></li>
                            <li class="mb-2"><a class="hover:underline" href="">Thế giới</a></li>
                            <li class="mb-2"><a class="hover:underline" href="">Kinh doanh</a></li>
                            <li class="mb-2"><a class="hover:underline" href="">Bất động sản</a></li>
                            <li class="mb-2"><a class="hover:underline" href="">Giải trí</a></li>
                        </ul>
                        <ul>
                            <li class="mb-2"><a class="hover:underline" href="">Thể thao</a></li>
                            <li class="mb-2"><a class="hover:underline" href="">Pháp luật</a></li>
                            <li class="mb-2"><a class="hover:underline" href="">Giáo dục</a></li>
                            <li class="mb-2"><a class="hover:underline" href="">Sức khỏe</a></li>
                            <li class="mb-2"><a class="hover:underline" href="">Đời sống</a></li>
                            <li class="mb-2"><a class="hover:underline" href="">Du lịch</a></li>
                        </ul>
                        <ul>
                            <li class="mb-2"><a class="hover:underline" href="">Khoa học</a></li>
                            <li class="mb-2"><a class="hover:underline" href="">Số hóa</a></li>
                            <li class="mb-2"><a class="hover:underline" href="">Xe</a></li>
                            <li class="mb-2"><a class="hover:underline" href="">Ý kiến</a></li>
                            <li class="mb-2"><a class="hover:underline" href="">Tâm sự</a></li>
                            <li class="mb-2"><a class="hover:underline" href="">Thư giãn</a></li>
                        </ul>
                        <div class="">
                            <span class="block ">Đường dây nóng </span>
                            <span class="block font-bold">083.888.0123</span>
                            <span class="block mb-4">(Hà Nội)</span>
                            <span class="block font-bold">083.888.0123</span>
                            <span class="block ">(TP. Hồ Chí Minh)</span>
                        </div>
                    </div>
                    <!-- Điều khoản dịch vụ -->
                    <div class="flex mb-[24px] border-b-[1px] justify-between items-center">
                                <div class="flex">
                                    <span class="block mr-[14px]">Báo điện tử</span>
                                    <img class="w-[140px] h-[26px]" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/28/VnExpress.net_Logo.svg/2560px-VnExpress.net_Logo.svg.png" alt="">
                                </div>
                                <ul class="flex text-[#757575]">
                                    <li class="px-2 py-5"><a class="w-full h-full hover:underline" href="">Điều khoản sử dụng</a></li>
                                    <li class="px-2 py-5"><a class="w-full h-full hover:underline" href="">Chính sách bảo mật</a></li>
                                    <li class="px-2 py-5"><a class="w-full h-full hover:underline" href="">Cookies</a></li>
                                    <li class="px-2 py-5"><a class="w-full h-full hover:underline" href="">RSS</a></li>
                                    <!-- <li class="px-2 py-5"><a class="w-full h-full hover:text-[#087cce]" href="">Theo dõi VnExpress trên <i class="fa-brands fa-facebook-f"></i></a></li> -->
                                </ul>
                    </div>
                    <!-- Giới thiệu  doannh nghiệp -->
                    <div class="grid grid-cols-3 gap-[60px] pb-6">
                            <div class="w-full leading-6">
                                <span class="font-bold block">Báo tiếng Việt nhiều người xem nhất</span>
                                <span class=" block">Thuộc Bộ Khoa học và Công nghệ Số giấy phép: 548/GP-BTTTT ngày 24/08/2021</span>
                            </div>
                            <div class="w-full leading-6">
                                <span class="block">Tổng biên tập: Phạm Văn Hiếu</span>
                                <span class="block ">Địa chỉ:  Tầng 10, Tòa A FPT Tower, số 10 Phạm Văn Bạch, Dịch Vọng, Cầu Giấy, Hà Nội</span>
                                <span class="block">Điện thoại: 024 7300 8899 - máy lẻ 4500</span>
                            </div>
                            <div class="w-full leading-6">
                                <span class="block">© 1997-2024. Toàn bộ bản quyền thuộc VnExpress</span>
                            </div>
                    </div>
                </footer>
        </div>
    </body>
</html>
